.image-grid-screen {
    /* height: 94vh; */
    background-color: var(--primary-color);
}

.image-grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fix-height {
    height: 94vh;
}


.lazyloaded-image-item {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    min-height: 300px;
}